--
-- PostgreSQL database dump
--

\restrict 98NgI7l8LTXUxF7PU4YH2Fse75ZVr6MZTAjAYXeVlyNxm3dJBFpEC1bIJt938R0

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: olap; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA olap;


ALTER SCHEMA olap OWNER TO admin;

--
-- Name: oltp_administracion; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA oltp_administracion;


ALTER SCHEMA oltp_administracion OWNER TO admin;

--
-- Name: oltp_marketing; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA oltp_marketing;


ALTER SCHEMA oltp_marketing OWNER TO admin;

--
-- Name: oltp_rrhh; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA oltp_rrhh;


ALTER SCHEMA oltp_rrhh OWNER TO admin;

--
-- Name: oltp_tecnico; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA oltp_tecnico;


ALTER SCHEMA oltp_tecnico OWNER TO admin;

--
-- Name: oltp_ventas; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA oltp_ventas;


ALTER SCHEMA oltp_ventas OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dim_categoria_componente; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.dim_categoria_componente (
    id_categoria_dw bigint NOT NULL,
    id_categoria_oltp bigint,
    origen_sistema character varying(50) NOT NULL,
    nombre_categoria character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE olap.dim_categoria_componente OWNER TO admin;

--
-- Name: dim_categoria_componente_id_categoria_dw_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.dim_categoria_componente ALTER COLUMN id_categoria_dw ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.dim_categoria_componente_id_categoria_dw_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dim_cliente; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.dim_cliente (
    id_cliente_dw bigint NOT NULL,
    id_cliente_oltp bigint,
    origen_sistema character varying(50),
    region character varying(80),
    provincia character varying(80),
    ciudad character varying(80),
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL
);


ALTER TABLE olap.dim_cliente OWNER TO admin;

--
-- Name: dim_cliente_id_cliente_dw_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.dim_cliente ALTER COLUMN id_cliente_dw ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.dim_cliente_id_cliente_dw_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dim_componente; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.dim_componente (
    id_componente_dw bigint NOT NULL,
    id_componente_oltp bigint,
    origen_sistema character varying(50),
    marca character varying(80),
    tipo_producto character varying(80),
    nombre character varying(120),
    id_categoria_dw bigint
);


ALTER TABLE olap.dim_componente OWNER TO admin;

--
-- Name: dim_componente_id_componente_dw_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.dim_componente ALTER COLUMN id_componente_dw ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.dim_componente_id_componente_dw_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dim_empleado; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.dim_empleado (
    id_empleado_dw bigint NOT NULL,
    id_empleado_oltp bigint,
    origen_sistema character varying(50),
    departamento character varying(100),
    cargo character varying(80),
    nombre_empleado character varying(200) NOT NULL
);


ALTER TABLE olap.dim_empleado OWNER TO admin;

--
-- Name: dim_empleado_id_empleado_dw_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.dim_empleado ALTER COLUMN id_empleado_dw ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.dim_empleado_id_empleado_dw_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dim_servicio; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.dim_servicio (
    id_servicio_dw bigint NOT NULL,
    id_servicio_oltp bigint,
    origen_sistema character varying(50),
    tipo character varying(80) NOT NULL,
    descripcion text
);


ALTER TABLE olap.dim_servicio OWNER TO admin;

--
-- Name: dim_servicio_id_servicio_dw_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.dim_servicio ALTER COLUMN id_servicio_dw ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.dim_servicio_id_servicio_dw_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dim_tiempo; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.dim_tiempo (
    id_fecha bigint NOT NULL,
    fecha date NOT NULL,
    anio integer NOT NULL,
    trimestre integer NOT NULL,
    mes integer NOT NULL,
    dia integer NOT NULL,
    CONSTRAINT dim_tiempo_anio_chk CHECK (((anio >= 1900) AND (anio <= 2100))),
    CONSTRAINT dim_tiempo_dia_chk CHECK (((dia >= 1) AND (dia <= 31))),
    CONSTRAINT dim_tiempo_mes_chk CHECK (((mes >= 1) AND (mes <= 12))),
    CONSTRAINT dim_tiempo_trimestre_chk CHECK (((trimestre >= 1) AND (trimestre <= 4)))
);


ALTER TABLE olap.dim_tiempo OWNER TO admin;

--
-- Name: dim_tiempo_id_fecha_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.dim_tiempo ALTER COLUMN id_fecha ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.dim_tiempo_id_fecha_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dim_vehiculo; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.dim_vehiculo (
    id_vehiculo_dw bigint NOT NULL,
    id_vehiculo_oltp bigint,
    origen_sistema character varying(50),
    tipo_vehiculo character varying(80),
    marca character varying(60) NOT NULL,
    modelo character varying(80) NOT NULL,
    version character varying(80)
);


ALTER TABLE olap.dim_vehiculo OWNER TO admin;

--
-- Name: dim_vehiculo_id_vehiculo_dw_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.dim_vehiculo ALTER COLUMN id_vehiculo_dw ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.dim_vehiculo_id_vehiculo_dw_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fact_servicios; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.fact_servicios (
    id_fact_servicio bigint NOT NULL,
    id_servicio bigint NOT NULL,
    id_fecha bigint NOT NULL,
    id_vehiculo bigint NOT NULL,
    id_cliente bigint NOT NULL,
    id_empleado bigint NOT NULL,
    precio numeric(12,2) NOT NULL,
    coste numeric(12,2) NOT NULL,
    beneficio numeric(12,2) NOT NULL,
    estado character varying(40),
    duracion_horas numeric(10,2),
    CONSTRAINT fact_servicios_coste_chk CHECK ((coste >= (0)::numeric)),
    CONSTRAINT fact_servicios_duracion_chk CHECK (((duracion_horas IS NULL) OR (duracion_horas >= (0)::numeric))),
    CONSTRAINT fact_servicios_precio_chk CHECK ((precio >= (0)::numeric))
);


ALTER TABLE olap.fact_servicios OWNER TO admin;

--
-- Name: fact_servicios_id_fact_servicio_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.fact_servicios ALTER COLUMN id_fact_servicio ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.fact_servicios_id_fact_servicio_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fact_ventas; Type: TABLE; Schema: olap; Owner: admin
--

CREATE TABLE olap.fact_ventas (
    id_fact_venta bigint NOT NULL,
    id_fecha bigint NOT NULL,
    id_cliente bigint NOT NULL,
    id_componente bigint NOT NULL,
    unidades integer NOT NULL,
    precio numeric(12,2) NOT NULL,
    coste numeric(12,2) NOT NULL,
    beneficio numeric(12,2) NOT NULL,
    CONSTRAINT fact_ventas_beneficio_chk CHECK ((beneficio >= '-999999999.99'::numeric)),
    CONSTRAINT fact_ventas_coste_chk CHECK ((coste >= (0)::numeric)),
    CONSTRAINT fact_ventas_precio_chk CHECK ((precio >= (0)::numeric)),
    CONSTRAINT fact_ventas_unidades_chk CHECK ((unidades > 0))
);


ALTER TABLE olap.fact_ventas OWNER TO admin;

--
-- Name: fact_ventas_id_fact_venta_seq; Type: SEQUENCE; Schema: olap; Owner: admin
--

ALTER TABLE olap.fact_ventas ALTER COLUMN id_fact_venta ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME olap.fact_ventas_id_fact_venta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categoria_componente; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.categoria_componente (
    id_categoria bigint NOT NULL,
    nombre_categoria character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE oltp_administracion.categoria_componente OWNER TO admin;

--
-- Name: categoria_componente_id_categoria_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.categoria_componente ALTER COLUMN id_categoria ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.categoria_componente_id_categoria_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.cliente (
    id_cliente bigint NOT NULL,
    dni character varying(20) NOT NULL,
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL,
    email character varying(150),
    telefonocontacto character varying(25),
    pais character varying(80),
    region character varying(80),
    provincia character varying(80),
    ciudad character varying(80),
    direccion character varying(200),
    CONSTRAINT admin_cliente_email_chk CHECK (((email IS NULL) OR (POSITION(('@'::text) IN (email)) > 1)))
);


ALTER TABLE oltp_administracion.cliente OWNER TO admin;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.cliente ALTER COLUMN id_cliente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.cliente_id_cliente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: componente; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.componente (
    id_componente bigint NOT NULL,
    nombre character varying(120) NOT NULL,
    descripcion text,
    precio_venta numeric(12,2) DEFAULT 0 NOT NULL,
    precio_compra numeric(12,2) DEFAULT 0 NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    stock_minimo integer DEFAULT 0 NOT NULL,
    tipo_producto character varying(80),
    marca character varying(80),
    modelos_compatibles text,
    id_proveedor bigint NOT NULL,
    id_categoria bigint,
    CONSTRAINT admin_componente_precio_compra_chk CHECK ((precio_compra >= (0)::numeric)),
    CONSTRAINT admin_componente_precio_venta_chk CHECK ((precio_venta >= (0)::numeric)),
    CONSTRAINT admin_componente_stock_chk CHECK ((stock >= 0)),
    CONSTRAINT admin_componente_stock_minimo_chk CHECK ((stock_minimo >= 0))
);


ALTER TABLE oltp_administracion.componente OWNER TO admin;

--
-- Name: componente_id_componente_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.componente ALTER COLUMN id_componente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.componente_id_componente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_orden_compra; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.detalle_orden_compra (
    id_detalle_compra bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(12,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    id_orden_compra bigint NOT NULL,
    id_componente bigint NOT NULL,
    CONSTRAINT admin_detalle_orden_compra_cantidad_chk CHECK ((cantidad > 0)),
    CONSTRAINT admin_detalle_orden_compra_precio_chk CHECK ((precio_unitario >= (0)::numeric)),
    CONSTRAINT admin_detalle_orden_compra_subtotal_chk CHECK ((subtotal >= (0)::numeric))
);


ALTER TABLE oltp_administracion.detalle_orden_compra OWNER TO admin;

--
-- Name: detalle_orden_compra_id_detalle_compra_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.detalle_orden_compra ALTER COLUMN id_detalle_compra ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.detalle_orden_compra_id_detalle_compra_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_pedido; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.detalle_pedido (
    id_detalle bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(12,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    id_pedido bigint NOT NULL,
    id_componente bigint NOT NULL,
    CONSTRAINT admin_detalle_pedido_cantidad_chk CHECK ((cantidad > 0)),
    CONSTRAINT admin_detalle_pedido_precio_chk CHECK ((precio_unitario >= (0)::numeric)),
    CONSTRAINT admin_detalle_pedido_subtotal_chk CHECK ((subtotal >= (0)::numeric))
);


ALTER TABLE oltp_administracion.detalle_pedido OWNER TO admin;

--
-- Name: detalle_pedido_id_detalle_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.detalle_pedido ALTER COLUMN id_detalle ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.detalle_pedido_id_detalle_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: empleado; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.empleado (
    id_empleado bigint NOT NULL,
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL,
    dni character varying(20) NOT NULL,
    telefono character varying(25),
    email character varying(150),
    puesto character varying(80) NOT NULL,
    salario numeric(12,2) DEFAULT 0 NOT NULL,
    fecha_contratacion date NOT NULL,
    CONSTRAINT admin_empleado_email_chk CHECK (((email IS NULL) OR (POSITION(('@'::text) IN (email)) > 1))),
    CONSTRAINT admin_empleado_salario_chk CHECK ((salario >= (0)::numeric))
);


ALTER TABLE oltp_administracion.empleado OWNER TO admin;

--
-- Name: empleado_id_empleado_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.empleado ALTER COLUMN id_empleado ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.empleado_id_empleado_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orden_compra; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.orden_compra (
    id_orden_compra bigint NOT NULL,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado character varying(40) NOT NULL,
    total numeric(12,2) DEFAULT 0 NOT NULL,
    id_proveedor bigint NOT NULL,
    CONSTRAINT admin_orden_compra_total_chk CHECK ((total >= (0)::numeric))
);


ALTER TABLE oltp_administracion.orden_compra OWNER TO admin;

--
-- Name: orden_compra_id_orden_compra_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.orden_compra ALTER COLUMN id_orden_compra ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.orden_compra_id_orden_compra_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pedido; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.pedido (
    id_pedido bigint NOT NULL,
    fecha_pedido timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado character varying(40) NOT NULL,
    total numeric(12,2) DEFAULT 0 NOT NULL,
    metodo_pago character varying(50),
    direccion_envio character varying(200),
    id_cliente bigint NOT NULL,
    CONSTRAINT admin_pedido_total_chk CHECK ((total >= (0)::numeric))
);


ALTER TABLE oltp_administracion.pedido OWNER TO admin;

--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.pedido ALTER COLUMN id_pedido ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.pedido_id_pedido_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proveedor; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.proveedor (
    id_proveedor bigint NOT NULL,
    nombre character varying(120) NOT NULL,
    cif character varying(20) NOT NULL,
    telefono character varying(25),
    email character varying(150),
    pais character varying(80),
    region character varying(80),
    provincia character varying(80),
    ciudad character varying(80),
    direccion character varying(200),
    CONSTRAINT admin_proveedor_email_chk CHECK (((email IS NULL) OR (POSITION(('@'::text) IN (email)) > 1)))
);


ALTER TABLE oltp_administracion.proveedor OWNER TO admin;

--
-- Name: proveedor_id_proveedor_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.proveedor ALTER COLUMN id_proveedor ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.proveedor_id_proveedor_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: servicio; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.servicio (
    id_servicio bigint NOT NULL,
    fecha_apertura timestamp without time zone NOT NULL,
    fecha_cierre timestamp without time zone,
    tipo character varying(80) NOT NULL,
    descripcion text,
    estado character varying(40) NOT NULL,
    kilometraje integer,
    coste numeric(12,2) DEFAULT 0 NOT NULL,
    id_vehiculo bigint NOT NULL,
    id_cliente bigint NOT NULL,
    id_empleado bigint NOT NULL,
    CONSTRAINT admin_servicio_coste_chk CHECK ((coste >= (0)::numeric)),
    CONSTRAINT admin_servicio_fechas_chk CHECK (((fecha_cierre IS NULL) OR (fecha_cierre >= fecha_apertura))),
    CONSTRAINT admin_servicio_kilometraje_chk CHECK (((kilometraje IS NULL) OR (kilometraje >= 0)))
);


ALTER TABLE oltp_administracion.servicio OWNER TO admin;

--
-- Name: servicio_componente; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.servicio_componente (
    id_servicio_componente bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(12,2) NOT NULL,
    id_servicio bigint NOT NULL,
    id_componente bigint NOT NULL,
    CONSTRAINT admin_servicio_componente_cantidad_chk CHECK ((cantidad > 0)),
    CONSTRAINT admin_servicio_componente_precio_chk CHECK ((precio_unitario >= (0)::numeric))
);


ALTER TABLE oltp_administracion.servicio_componente OWNER TO admin;

--
-- Name: servicio_componente_id_servicio_componente_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.servicio_componente ALTER COLUMN id_servicio_componente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.servicio_componente_id_servicio_componente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: servicio_id_servicio_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.servicio ALTER COLUMN id_servicio ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.servicio_id_servicio_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vehiculo; Type: TABLE; Schema: oltp_administracion; Owner: admin
--

CREATE TABLE oltp_administracion.vehiculo (
    id_vehiculo bigint NOT NULL,
    matricula character varying(20) NOT NULL,
    marca character varying(60) NOT NULL,
    modelo character varying(80) NOT NULL,
    anio integer NOT NULL,
    num_bastidor character varying(50) NOT NULL,
    id_cliente bigint NOT NULL,
    CONSTRAINT admin_vehiculo_anio_chk CHECK (((anio >= 1900) AND (anio <= 2100)))
);


ALTER TABLE oltp_administracion.vehiculo OWNER TO admin;

--
-- Name: vehiculo_id_vehiculo_seq; Type: SEQUENCE; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE oltp_administracion.vehiculo ALTER COLUMN id_vehiculo ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_administracion.vehiculo_id_vehiculo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categoria_componente; Type: TABLE; Schema: oltp_marketing; Owner: admin
--

CREATE TABLE oltp_marketing.categoria_componente (
    id_categoria bigint NOT NULL,
    nombre_categoria character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE oltp_marketing.categoria_componente OWNER TO admin;

--
-- Name: categoria_componente_id_categoria_seq; Type: SEQUENCE; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE oltp_marketing.categoria_componente ALTER COLUMN id_categoria ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_marketing.categoria_componente_id_categoria_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente; Type: TABLE; Schema: oltp_marketing; Owner: admin
--

CREATE TABLE oltp_marketing.cliente (
    id_cliente bigint NOT NULL,
    dni character varying(20) NOT NULL,
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL,
    email character varying(150),
    telefono character varying(25),
    pais character varying(80),
    region character varying(80),
    provincia character varying(80),
    ciudad character varying(80),
    direccion character varying(200),
    CONSTRAINT marketing_cliente_email_chk CHECK (((email IS NULL) OR (POSITION(('@'::text) IN (email)) > 1)))
);


ALTER TABLE oltp_marketing.cliente OWNER TO admin;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE oltp_marketing.cliente ALTER COLUMN id_cliente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_marketing.cliente_id_cliente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: componente; Type: TABLE; Schema: oltp_marketing; Owner: admin
--

CREATE TABLE oltp_marketing.componente (
    id_componente bigint NOT NULL,
    nombre character varying(120) NOT NULL,
    descripcion text,
    precio_venta numeric(12,2) DEFAULT 0 NOT NULL,
    precio_compra numeric(12,2) DEFAULT 0 NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    stock_minimo integer DEFAULT 0 NOT NULL,
    tipo_producto character varying(80),
    marca character varying(80),
    modelos_compatibles text,
    id_categoria bigint,
    CONSTRAINT marketing_componente_precio_compra_chk CHECK ((precio_compra >= (0)::numeric)),
    CONSTRAINT marketing_componente_precio_venta_chk CHECK ((precio_venta >= (0)::numeric)),
    CONSTRAINT marketing_componente_stock_chk CHECK ((stock >= 0)),
    CONSTRAINT marketing_componente_stock_minimo_chk CHECK ((stock_minimo >= 0))
);


ALTER TABLE oltp_marketing.componente OWNER TO admin;

--
-- Name: componente_id_componente_seq; Type: SEQUENCE; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE oltp_marketing.componente ALTER COLUMN id_componente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_marketing.componente_id_componente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_pedido; Type: TABLE; Schema: oltp_marketing; Owner: admin
--

CREATE TABLE oltp_marketing.detalle_pedido (
    id_detalle bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(12,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    id_pedido bigint NOT NULL,
    id_componente bigint NOT NULL,
    CONSTRAINT marketing_detalle_pedido_cantidad_chk CHECK ((cantidad > 0)),
    CONSTRAINT marketing_detalle_pedido_precio_chk CHECK ((precio_unitario >= (0)::numeric)),
    CONSTRAINT marketing_detalle_pedido_subtotal_chk CHECK ((subtotal >= (0)::numeric))
);


ALTER TABLE oltp_marketing.detalle_pedido OWNER TO admin;

--
-- Name: detalle_pedido_id_detalle_seq; Type: SEQUENCE; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE oltp_marketing.detalle_pedido ALTER COLUMN id_detalle ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_marketing.detalle_pedido_id_detalle_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pedido; Type: TABLE; Schema: oltp_marketing; Owner: admin
--

CREATE TABLE oltp_marketing.pedido (
    id_pedido bigint NOT NULL,
    fecha_pedido timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado character varying(40) NOT NULL,
    total numeric(12,2) DEFAULT 0 NOT NULL,
    metodo_pago character varying(50),
    direccion_envio character varying(200),
    id_cliente bigint NOT NULL,
    CONSTRAINT marketing_pedido_total_chk CHECK ((total >= (0)::numeric))
);


ALTER TABLE oltp_marketing.pedido OWNER TO admin;

--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE oltp_marketing.pedido ALTER COLUMN id_pedido ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_marketing.pedido_id_pedido_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contrato; Type: TABLE; Schema: oltp_rrhh; Owner: admin
--

CREATE TABLE oltp_rrhh.contrato (
    id_contrato bigint NOT NULL,
    tipo_contrato character varying(80) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date,
    jornada character varying(50),
    salario_base numeric(12,2) DEFAULT 0 NOT NULL,
    id_empleado bigint NOT NULL,
    CONSTRAINT rrhh_contrato_fechas_chk CHECK (((fecha_fin IS NULL) OR (fecha_fin >= fecha_inicio))),
    CONSTRAINT rrhh_contrato_salario_base_chk CHECK ((salario_base >= (0)::numeric))
);


ALTER TABLE oltp_rrhh.contrato OWNER TO admin;

--
-- Name: contrato_id_contrato_seq; Type: SEQUENCE; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE oltp_rrhh.contrato ALTER COLUMN id_contrato ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_rrhh.contrato_id_contrato_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: departamento; Type: TABLE; Schema: oltp_rrhh; Owner: admin
--

CREATE TABLE oltp_rrhh.departamento (
    id_departamento bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE oltp_rrhh.departamento OWNER TO admin;

--
-- Name: departamento_id_departamento_seq; Type: SEQUENCE; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE oltp_rrhh.departamento ALTER COLUMN id_departamento ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_rrhh.departamento_id_departamento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: empleado; Type: TABLE; Schema: oltp_rrhh; Owner: admin
--

CREATE TABLE oltp_rrhh.empleado (
    id_empleado bigint NOT NULL,
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL,
    dni character varying(20) NOT NULL,
    telefono character varying(25),
    email character varying(150),
    puesto character varying(80) NOT NULL,
    salario numeric(12,2) DEFAULT 0 NOT NULL,
    fecha_contratacion date NOT NULL,
    id_departamento bigint NOT NULL,
    CONSTRAINT rrhh_empleado_email_chk CHECK (((email IS NULL) OR (POSITION(('@'::text) IN (email)) > 1))),
    CONSTRAINT rrhh_empleado_salario_chk CHECK ((salario >= (0)::numeric))
);


ALTER TABLE oltp_rrhh.empleado OWNER TO admin;

--
-- Name: empleado_id_empleado_seq; Type: SEQUENCE; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE oltp_rrhh.empleado ALTER COLUMN id_empleado ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_rrhh.empleado_id_empleado_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: nomina; Type: TABLE; Schema: oltp_rrhh; Owner: admin
--

CREATE TABLE oltp_rrhh.nomina (
    id_nomina bigint NOT NULL,
    mes integer NOT NULL,
    anio integer NOT NULL,
    salario_base numeric(12,2) DEFAULT 0 NOT NULL,
    complementos numeric(12,2) DEFAULT 0 NOT NULL,
    deducciones numeric(12,2) DEFAULT 0 NOT NULL,
    salario_neto numeric(12,2) DEFAULT 0 NOT NULL,
    id_empleado bigint NOT NULL,
    CONSTRAINT rrhh_nomina_complementos_chk CHECK ((complementos >= (0)::numeric)),
    CONSTRAINT rrhh_nomina_deducciones_chk CHECK ((deducciones >= (0)::numeric)),
    CONSTRAINT rrhh_nomina_mes_chk CHECK (((mes >= 1) AND (mes <= 12))),
    CONSTRAINT rrhh_nomina_salario_base_chk CHECK ((salario_base >= (0)::numeric)),
    CONSTRAINT rrhh_nomina_salario_neto_chk CHECK ((salario_neto >= (0)::numeric))
);


ALTER TABLE oltp_rrhh.nomina OWNER TO admin;

--
-- Name: nomina_id_nomina_seq; Type: SEQUENCE; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE oltp_rrhh.nomina ALTER COLUMN id_nomina ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_rrhh.nomina_id_nomina_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categoria_componente; Type: TABLE; Schema: oltp_tecnico; Owner: admin
--

CREATE TABLE oltp_tecnico.categoria_componente (
    id_categoria bigint NOT NULL,
    nombre_categoria character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE oltp_tecnico.categoria_componente OWNER TO admin;

--
-- Name: categoria_componente_id_categoria_seq; Type: SEQUENCE; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE oltp_tecnico.categoria_componente ALTER COLUMN id_categoria ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_tecnico.categoria_componente_id_categoria_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cita; Type: TABLE; Schema: oltp_tecnico; Owner: admin
--

CREATE TABLE oltp_tecnico.cita (
    id_cita bigint NOT NULL,
    fecha date NOT NULL,
    hora time without time zone NOT NULL,
    motivo character varying(200),
    estado character varying(40) NOT NULL,
    id_vehiculo bigint NOT NULL
);


ALTER TABLE oltp_tecnico.cita OWNER TO admin;

--
-- Name: cita_id_cita_seq; Type: SEQUENCE; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE oltp_tecnico.cita ALTER COLUMN id_cita ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_tecnico.cita_id_cita_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: componente; Type: TABLE; Schema: oltp_tecnico; Owner: admin
--

CREATE TABLE oltp_tecnico.componente (
    id_componente bigint NOT NULL,
    nombre character varying(120) NOT NULL,
    descripcion text,
    precio_venta numeric(12,2) DEFAULT 0 NOT NULL,
    precio_compra numeric(12,2) DEFAULT 0 NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    stock_minimo integer DEFAULT 0 NOT NULL,
    tipo_producto character varying(80),
    marca character varying(80),
    modelos_compatibles text,
    id_categoria bigint,
    CONSTRAINT tecnico_componente_precio_compra_chk CHECK ((precio_compra >= (0)::numeric)),
    CONSTRAINT tecnico_componente_precio_venta_chk CHECK ((precio_venta >= (0)::numeric)),
    CONSTRAINT tecnico_componente_stock_chk CHECK ((stock >= 0)),
    CONSTRAINT tecnico_componente_stock_minimo_chk CHECK ((stock_minimo >= 0))
);


ALTER TABLE oltp_tecnico.componente OWNER TO admin;

--
-- Name: componente_id_componente_seq; Type: SEQUENCE; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE oltp_tecnico.componente ALTER COLUMN id_componente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_tecnico.componente_id_componente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: empleado; Type: TABLE; Schema: oltp_tecnico; Owner: admin
--

CREATE TABLE oltp_tecnico.empleado (
    id_empleado bigint NOT NULL,
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL,
    telefono character varying(25),
    email character varying(150),
    puesto character varying(80) NOT NULL,
    CONSTRAINT tecnico_empleado_email_chk CHECK (((email IS NULL) OR (POSITION(('@'::text) IN (email)) > 1)))
);


ALTER TABLE oltp_tecnico.empleado OWNER TO admin;

--
-- Name: empleado_id_empleado_seq; Type: SEQUENCE; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE oltp_tecnico.empleado ALTER COLUMN id_empleado ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_tecnico.empleado_id_empleado_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: servicio; Type: TABLE; Schema: oltp_tecnico; Owner: admin
--

CREATE TABLE oltp_tecnico.servicio (
    id_servicio bigint NOT NULL,
    fecha_apertura timestamp without time zone NOT NULL,
    fecha_cierre timestamp without time zone,
    tipo character varying(80) NOT NULL,
    descripcion text,
    estado character varying(40) NOT NULL,
    kilometraje integer,
    coste numeric(12,2) DEFAULT 0 NOT NULL,
    id_vehiculo bigint NOT NULL,
    id_empleado bigint NOT NULL,
    CONSTRAINT tecnico_servicio_coste_chk CHECK ((coste >= (0)::numeric)),
    CONSTRAINT tecnico_servicio_fechas_chk CHECK (((fecha_cierre IS NULL) OR (fecha_cierre >= fecha_apertura))),
    CONSTRAINT tecnico_servicio_kilometraje_chk CHECK (((kilometraje IS NULL) OR (kilometraje >= 0)))
);


ALTER TABLE oltp_tecnico.servicio OWNER TO admin;

--
-- Name: servicio_componente; Type: TABLE; Schema: oltp_tecnico; Owner: admin
--

CREATE TABLE oltp_tecnico.servicio_componente (
    id_servicio_componente bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(12,2) NOT NULL,
    id_servicio bigint NOT NULL,
    id_componente bigint NOT NULL,
    CONSTRAINT tecnico_servicio_componente_cantidad_chk CHECK ((cantidad > 0)),
    CONSTRAINT tecnico_servicio_componente_precio_chk CHECK ((precio_unitario >= (0)::numeric))
);


ALTER TABLE oltp_tecnico.servicio_componente OWNER TO admin;

--
-- Name: servicio_componente_id_servicio_componente_seq; Type: SEQUENCE; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE oltp_tecnico.servicio_componente ALTER COLUMN id_servicio_componente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_tecnico.servicio_componente_id_servicio_componente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: servicio_id_servicio_seq; Type: SEQUENCE; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE oltp_tecnico.servicio ALTER COLUMN id_servicio ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_tecnico.servicio_id_servicio_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vehiculo; Type: TABLE; Schema: oltp_tecnico; Owner: admin
--

CREATE TABLE oltp_tecnico.vehiculo (
    id_vehiculo bigint NOT NULL,
    matricula character varying(20) NOT NULL,
    marca character varying(60) NOT NULL,
    modelo character varying(80) NOT NULL,
    anio integer NOT NULL,
    num_bastidor character varying(50) NOT NULL,
    CONSTRAINT tecnico_vehiculo_anio_chk CHECK (((anio >= 1900) AND (anio <= 2100)))
);


ALTER TABLE oltp_tecnico.vehiculo OWNER TO admin;

--
-- Name: vehiculo_id_vehiculo_seq; Type: SEQUENCE; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE oltp_tecnico.vehiculo ALTER COLUMN id_vehiculo ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_tecnico.vehiculo_id_vehiculo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categoria_componente; Type: TABLE; Schema: oltp_ventas; Owner: admin
--

CREATE TABLE oltp_ventas.categoria_componente (
    id_categoria bigint NOT NULL,
    nombre_categoria character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE oltp_ventas.categoria_componente OWNER TO admin;

--
-- Name: categoria_componente_id_categoria_seq; Type: SEQUENCE; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE oltp_ventas.categoria_componente ALTER COLUMN id_categoria ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_ventas.categoria_componente_id_categoria_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente; Type: TABLE; Schema: oltp_ventas; Owner: admin
--

CREATE TABLE oltp_ventas.cliente (
    id_cliente bigint NOT NULL,
    dni character varying(20) NOT NULL,
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL,
    email character varying(150),
    telefono character varying(25),
    pais character varying(80),
    region character varying(80),
    provincia character varying(80),
    ciudad character varying(80),
    direccion character varying(200),
    CONSTRAINT ventas_cliente_email_chk CHECK (((email IS NULL) OR (POSITION(('@'::text) IN (email)) > 1)))
);


ALTER TABLE oltp_ventas.cliente OWNER TO admin;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE oltp_ventas.cliente ALTER COLUMN id_cliente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_ventas.cliente_id_cliente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: componente; Type: TABLE; Schema: oltp_ventas; Owner: admin
--

CREATE TABLE oltp_ventas.componente (
    id_componente bigint NOT NULL,
    nombre character varying(120) NOT NULL,
    descripcion text,
    precio_venta numeric(12,2) DEFAULT 0 NOT NULL,
    precio_compra numeric(12,2) DEFAULT 0 NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    stock_minimo integer DEFAULT 0 NOT NULL,
    tipo_producto character varying(80),
    marca character varying(80),
    modelos_compatibles text,
    id_categoria bigint,
    CONSTRAINT ventas_componente_precio_compra_chk CHECK ((precio_compra >= (0)::numeric)),
    CONSTRAINT ventas_componente_precio_venta_chk CHECK ((precio_venta >= (0)::numeric)),
    CONSTRAINT ventas_componente_stock_chk CHECK ((stock >= 0)),
    CONSTRAINT ventas_componente_stock_minimo_chk CHECK ((stock_minimo >= 0))
);


ALTER TABLE oltp_ventas.componente OWNER TO admin;

--
-- Name: componente_id_componente_seq; Type: SEQUENCE; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE oltp_ventas.componente ALTER COLUMN id_componente ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_ventas.componente_id_componente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_pedido; Type: TABLE; Schema: oltp_ventas; Owner: admin
--

CREATE TABLE oltp_ventas.detalle_pedido (
    id_detalle bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(12,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    id_pedido bigint NOT NULL,
    id_componente bigint NOT NULL,
    CONSTRAINT ventas_detalle_pedido_cantidad_chk CHECK ((cantidad > 0)),
    CONSTRAINT ventas_detalle_pedido_precio_chk CHECK ((precio_unitario >= (0)::numeric)),
    CONSTRAINT ventas_detalle_pedido_subtotal_chk CHECK ((subtotal >= (0)::numeric))
);


ALTER TABLE oltp_ventas.detalle_pedido OWNER TO admin;

--
-- Name: detalle_pedido_id_detalle_seq; Type: SEQUENCE; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE oltp_ventas.detalle_pedido ALTER COLUMN id_detalle ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_ventas.detalle_pedido_id_detalle_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pedido; Type: TABLE; Schema: oltp_ventas; Owner: admin
--

CREATE TABLE oltp_ventas.pedido (
    id_pedido bigint NOT NULL,
    fecha_pedido timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado character varying(40) NOT NULL,
    total numeric(12,2) DEFAULT 0 NOT NULL,
    metodo_pago character varying(50),
    direccion_envio character varying(200),
    id_cliente bigint NOT NULL,
    CONSTRAINT ventas_pedido_total_chk CHECK ((total >= (0)::numeric))
);


ALTER TABLE oltp_ventas.pedido OWNER TO admin;

--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE oltp_ventas.pedido ALTER COLUMN id_pedido ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME oltp_ventas.pedido_id_pedido_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: dim_categoria_componente; Type: TABLE DATA; Schema: olap; Owner: admin
--



--
-- Data for Name: dim_cliente; Type: TABLE DATA; Schema: olap; Owner: admin
--



--
-- Data for Name: dim_componente; Type: TABLE DATA; Schema: olap; Owner: admin
--



--
-- Data for Name: dim_empleado; Type: TABLE DATA; Schema: olap; Owner: admin
--



--
-- Data for Name: dim_servicio; Type: TABLE DATA; Schema: olap; Owner: admin
--



--
-- Data for Name: dim_tiempo; Type: TABLE DATA; Schema: olap; Owner: admin
--



--
-- Data for Name: dim_vehiculo; Type: TABLE DATA; Schema: olap; Owner: admin
--

COPY olap.dim_vehiculo (id_vehiculo_dw, id_vehiculo_oltp, origen_sistema, tipo_vehiculo, marca, modelo, version) FROM stdin;
1	6	oltp_tecnico	\N	Seat	Le├│n FR	\N
2	7	oltp_tecnico	\N	Volkswagen	Golf GTI	\N
3	8	oltp_tecnico	\N	BMW	320d	\N
4	9	oltp_tecnico	\N	Audi	A3 Sportback	\N
5	10	oltp_tecnico	\N	Ford	Focus ST-Line	\N
6	6	oltp_administracion	\N	Seat	Ibiza	\N
7	7	oltp_administracion	\N	Volkswagen	Polo	\N
8	8	oltp_administracion	\N	Peugeot	308	\N
9	9	oltp_administracion	\N	Audi	A1	\N
10	10	oltp_administracion	\N	BMW	118i	\N
\.


--
-- Data for Name: fact_servicios; Type: TABLE DATA; Schema: olap; Owner: admin
--



--
-- Data for Name: fact_ventas; Type: TABLE DATA; Schema: olap; Owner: admin
--

COPY olap.fact_ventas (id_fact_venta, id_fecha, id_cliente, id_componente, unidades, precio, coste, beneficio) FROM stdin;
\.


--
-- Data for Name: categoria_componente; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--

COPY oltp_administracion.categoria_componente (id_categoria, nombre_categoria, descripcion) FROM stdin;
21	Motor	Categor├¡a de componentes de motor
22	Frenos	Categor├¡a de elementos de frenado
23	Suspensi├│n	Categor├¡a de suspensi├│n y amortiguaci├│n
24	Electr├│nica	Categor├¡a de componentes el├®ctricos
25	Escape	Categor├¡a de sistemas de escape
\.


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--



--
-- Data for Name: componente; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--



--
-- Data for Name: detalle_orden_compra; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--

COPY oltp_administracion.detalle_orden_compra (id_detalle_compra, cantidad, precio_unitario, subtotal, id_orden_compra, id_componente) FROM stdin;
1	20	12.00	240.00	1	6
2	10	34.00	340.00	2	7
3	2	140.00	280.00	3	8
4	4	79.00	316.00	4	9
5	1	820.00	820.00	5	10
\.


--
-- Data for Name: detalle_pedido; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--

COPY oltp_administracion.detalle_pedido (id_detalle, cantidad, precio_unitario, subtotal, id_pedido, id_componente) FROM stdin;
1	1	24.00	24.00	1	6
2	1	68.00	68.00	2	7
3	1	140.00	140.00	3	8
4	1	158.00	158.00	4	9
5	1	820.00	820.00	5	10
\.


--
-- Data for Name: empleado; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--



--
-- Data for Name: orden_compra; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--

COPY oltp_administracion.orden_compra (id_orden_compra, fecha, estado, total, id_proveedor) FROM stdin;
1	2026-03-01 09:00:00	Recibida	240.00	26
2	2026-03-03 10:30:00	Recibida	340.00	27
3	2026-03-06 12:15:00	Pendiente	280.00	28
4	2026-03-08 16:20:00	Recibida	316.00	29
5	2026-03-12 11:10:00	Pendiente	820.00	30
\.


--
-- Data for Name: pedido; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--

COPY oltp_administracion.pedido (id_pedido, fecha_pedido, estado, total, metodo_pago, direccion_envio, id_cliente) FROM stdin;
1	2026-03-04 14:20:00	Entregado	24.00	Tarjeta	Avenida Europa 12, Jerez de la Frontera	11
2	2026-03-07 18:10:00	Entregado	68.00	Bizum	Calle Goya 77, Madrid	12
3	2026-03-11 12:35:00	Enviado	140.00	Transferencia	Avenida Maisonnave 14, Alicante	13
4	2026-03-15 17:50:00	Entregado	158.00	Tarjeta	Carrer de Gr├ácia 56, Sabadell	14
5	2026-03-19 09:40:00	Preparaci├│n	820.00	Financiaci├│n	R├║a Urz├íiz 91, Vigo	15
\.


--
-- Data for Name: proveedor; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--



--
-- Data for Name: servicio; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--



--
-- Data for Name: servicio_componente; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--

COPY oltp_administracion.servicio_componente (id_servicio_componente, cantidad, precio_unitario, id_servicio, id_componente) FROM stdin;
1	1	24.00	1	6
2	1	68.00	2	7
3	1	140.00	3	8
4	1	158.00	4	9
5	1	820.00	5	10
\.


--
-- Data for Name: vehiculo; Type: TABLE DATA; Schema: oltp_administracion; Owner: admin
--

COPY oltp_administracion.vehiculo (id_vehiculo, matricula, marca, modelo, anio, num_bastidor, id_cliente) FROM stdin;
6	6789BCD	Seat	Ibiza	2019	VSSZZZKJZKR567890	11
7	7890CDF	Volkswagen	Polo	2020	WVWZZZAWZLU678901	12
8	8901DFG	Peugeot	308	2021	VF3LPHNSMMS789012	13
9	9012FGH	Audi	A1	2018	WAUZZZGB0JN890123	14
10	0123GHI	BMW	118i	2022	WBA7K11090V901234	15
\.


--
-- Data for Name: categoria_componente; Type: TABLE DATA; Schema: oltp_marketing; Owner: admin
--

COPY oltp_marketing.categoria_componente (id_categoria, nombre_categoria, descripcion) FROM stdin;
6	Motor	Productos destacados del ├írea de motor
7	Frenos	Campa├▒as sobre seguridad y frenado
8	Suspensi├│n	Promociones de confort y estabilidad
9	Electr├│nica	Productos tecnol├│gicos y el├®ctricos
10	Escape	Accesorios de alto rendimiento
\.


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: oltp_marketing; Owner: admin
--



--
-- Data for Name: componente; Type: TABLE DATA; Schema: oltp_marketing; Owner: admin
--



--
-- Data for Name: detalle_pedido; Type: TABLE DATA; Schema: oltp_marketing; Owner: admin
--

COPY oltp_marketing.detalle_pedido (id_detalle, cantidad, precio_unitario, subtotal, id_pedido, id_componente) FROM stdin;
6	1	289.00	289.00	6	6
7	1	199.00	199.00	7	7
8	1	245.00	245.00	8	8
9	1	49.90	49.90	9	9
10	1	89.90	89.90	10	10
\.


--
-- Data for Name: pedido; Type: TABLE DATA; Schema: oltp_marketing; Owner: admin
--

COPY oltp_marketing.pedido (id_pedido, fecha_pedido, estado, total, metodo_pago, direccion_envio, id_cliente) FROM stdin;
6	2026-03-08 11:30:00	Entregado	289.00	Tarjeta	Calle Larios 22, M├ílaga	6
7	2026-03-11 13:50:00	Entregado	199.00	Tarjeta	R├║a Real 15, A Coru├▒a	7
8	2026-03-14 17:10:00	Enviado	245.00	PayPal	Paseo Independencia 44, Zaragoza	8
9	2026-03-17 10:00:00	Preparaci├│n	49.90	Transferencia	Gran V├¡a Escultor Salzillo 7, Murcia	9
10	2026-03-21 19:25:00	Enviado	89.90	Tarjeta	Calle Santiago 31, Valladolid	10
\.


--
-- Data for Name: contrato; Type: TABLE DATA; Schema: oltp_rrhh; Owner: admin
--

COPY oltp_rrhh.contrato (id_contrato, tipo_contrato, fecha_inicio, fecha_fin, jornada, salario_base, id_empleado) FROM stdin;
6	Indefinido	2022-01-10	\N	Completa	1850.00	6
7	Indefinido	2021-06-15	\N	Completa	1700.00	7
8	Indefinido	2020-03-20	\N	Completa	1650.00	8
9	Temporal	2023-02-01	2026-12-31	Completa	1750.00	9
10	Indefinido	2022-09-05	\N	Completa	1800.00	10
\.


--
-- Data for Name: departamento; Type: TABLE DATA; Schema: oltp_rrhh; Owner: admin
--

COPY oltp_rrhh.departamento (id_departamento, nombre, descripcion) FROM stdin;
6	Taller	Departamento encargado de reparaciones y mantenimiento
7	Ventas	Gesti├│n de ventas de productos y atenci├│n comercial
8	Administraci├│n	Facturaci├│n, compras y control administrativo
9	Marketing	Promoci├│n de productos y campa├▒as comerciales
10	Recursos Humanos	Gesti├│n de personal, contratos y n├│minas
\.


--
-- Data for Name: empleado; Type: TABLE DATA; Schema: oltp_rrhh; Owner: admin
--



--
-- Data for Name: nomina; Type: TABLE DATA; Schema: oltp_rrhh; Owner: admin
--

COPY oltp_rrhh.nomina (id_nomina, mes, anio, salario_base, complementos, deducciones, salario_neto, id_empleado) FROM stdin;
6	3	2026	1850.00	150.00	320.00	1680.00	6
7	3	2026	1700.00	120.00	285.00	1535.00	7
8	3	2026	1650.00	100.00	270.00	1480.00	8
9	3	2026	1750.00	140.00	300.00	1590.00	9
10	3	2026	1800.00	130.00	310.00	1620.00	10
\.


--
-- Data for Name: categoria_componente; Type: TABLE DATA; Schema: oltp_tecnico; Owner: admin
--

COPY oltp_tecnico.categoria_componente (id_categoria, nombre_categoria, descripcion) FROM stdin;
6	Motor	Componentes usados en operaciones de motor
7	Frenos	Material de frenado para taller
8	Suspensi├│n	Elementos de suspensi├│n y amortiguaci├│n
9	Electr├│nica	Bater├¡as, sensores y diagnosis
10	Escape	Sistemas de escape para taller
\.


--
-- Data for Name: cita; Type: TABLE DATA; Schema: oltp_tecnico; Owner: admin
--

COPY oltp_tecnico.cita (id_cita, fecha, hora, motivo, estado, id_vehiculo) FROM stdin;
6	2026-03-25	09:00:00	Cambio de aceite y filtros	Completada	6
7	2026-03-26	10:30:00	Revisi├│n de frenos	Completada	7
8	2026-03-27	12:00:00	Sustituci├│n de amortiguadores	Pendiente	8
9	2026-03-28	16:00:00	Diagn├│stico electr├│nico	Confirmada	9
10	2026-03-29	08:30:00	Montaje de escape deportivo	Confirmada	10
\.


--
-- Data for Name: componente; Type: TABLE DATA; Schema: oltp_tecnico; Owner: admin
--



--
-- Data for Name: empleado; Type: TABLE DATA; Schema: oltp_tecnico; Owner: admin
--

COPY oltp_tecnico.empleado (id_empleado, nombre, apellidos, telefono, email, puesto) FROM stdin;
6	Iv├ín	Romero Vidal	622300111	ivan.romero@torquelab.com	Mec├ínico
7	Ra├║l	Herrera Nieto	622300222	raul.herrera@torquelab.com	Mec├ínico
8	Sonia	Campos Ruiz	622300333	sonia.campos@torquelab.com	Jefa de taller
9	Adri├ín	Pe├▒a Soto	622300444	adrian.pena@torquelab.com	Electromec├ínico
10	Cristina	Molina Vera	622300555	cristina.molina@torquelab.com	Recepci├│n t├®cnica
\.


--
-- Data for Name: servicio; Type: TABLE DATA; Schema: oltp_tecnico; Owner: admin
--



--
-- Data for Name: servicio_componente; Type: TABLE DATA; Schema: oltp_tecnico; Owner: admin
--

COPY oltp_tecnico.servicio_componente (id_servicio_componente, cantidad, precio_unitario, id_servicio, id_componente) FROM stdin;
6	1	42.00	6	6
7	1	69.90	7	7
8	2	115.00	8	8
9	1	124.00	9	9
10	1	355.00	10	10
\.


--
-- Data for Name: vehiculo; Type: TABLE DATA; Schema: oltp_tecnico; Owner: admin
--

COPY oltp_tecnico.vehiculo (id_vehiculo, matricula, marca, modelo, anio, num_bastidor) FROM stdin;
6	1234KLM	Seat	Le├│n FR	2020	VSSZZZKLZLR012345
7	2345MNP	Volkswagen	Golf GTI	2019	WVWZZZAUZKW123456
8	3456PQR	BMW	320d	2021	WBA8C11050FK23456
9	4567STU	Audi	A3 Sportback	2018	WAUZZZ8V0JA345678
10	5678VWX	Ford	Focus ST-Line	2022	WF0NXXGCHNCD45678
\.


--
-- Data for Name: categoria_componente; Type: TABLE DATA; Schema: oltp_ventas; Owner: admin
--

COPY oltp_ventas.categoria_componente (id_categoria, nombre_categoria, descripcion) FROM stdin;
11	Motor	Piezas relacionadas con el sistema de motor y admisi├│n
12	Frenos	Componentes del sistema de frenado
13	Suspensi├│n	Piezas de suspensi├│n y amortiguaci├│n
14	Electr├│nica	Sensores, bater├¡as y componentes electr├│nicos
15	Escape	Sistemas de escape y accesorios deportivos
\.


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: oltp_ventas; Owner: admin
--



--
-- Data for Name: componente; Type: TABLE DATA; Schema: oltp_ventas; Owner: admin
--



--
-- Data for Name: detalle_pedido; Type: TABLE DATA; Schema: oltp_ventas; Owner: admin
--

COPY oltp_ventas.detalle_pedido (id_detalle, cantidad, precio_unitario, subtotal, id_pedido, id_componente) FROM stdin;
6	2	18.90	37.80	6	11
7	1	64.90	64.90	7	12
8	1	119.00	119.00	8	13
9	1	129.90	129.90	9	14
10	1	599.00	599.00	10	15
\.


--
-- Data for Name: pedido; Type: TABLE DATA; Schema: oltp_ventas; Owner: admin
--

COPY oltp_ventas.pedido (id_pedido, fecha_pedido, estado, total, metodo_pago, direccion_envio, id_cliente) FROM stdin;
6	2026-03-10 10:15:00	Entregado	37.80	Tarjeta	Calle San Jacinto 14, Sevilla	11
7	2026-03-12 12:40:00	Enviado	64.90	PayPal	Avenida de Am├®rica 52, Madrid	12
8	2026-03-15 16:20:00	Preparaci├│n	119.00	Transferencia	Calle Col├│n 8, Valencia	13
9	2026-03-18 09:10:00	Entregado	129.90	Tarjeta	Passeig de Gr├ácia 101, Barcelona	14
10	2026-03-20 18:05:00	Enviado	599.00	Financiaci├│n	Gran V├¡a 23, Bilbao	15
\.


--
-- Name: dim_categoria_componente_id_categoria_dw_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.dim_categoria_componente_id_categoria_dw_seq', 20, true);


--
-- Name: dim_cliente_id_cliente_dw_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.dim_cliente_id_cliente_dw_seq', 16, true);


--
-- Name: dim_componente_id_componente_dw_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.dim_componente_id_componente_dw_seq', 20, true);


--
-- Name: dim_empleado_id_empleado_dw_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.dim_empleado_id_empleado_dw_seq', 15, true);


--
-- Name: dim_servicio_id_servicio_dw_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.dim_servicio_id_servicio_dw_seq', 10, true);


--
-- Name: dim_tiempo_id_fecha_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.dim_tiempo_id_fecha_seq', 23, true);


--
-- Name: dim_vehiculo_id_vehiculo_dw_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.dim_vehiculo_id_vehiculo_dw_seq', 10, true);


--
-- Name: fact_servicios_id_fact_servicio_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.fact_servicios_id_fact_servicio_seq', 10, true);


--
-- Name: fact_ventas_id_fact_venta_seq; Type: SEQUENCE SET; Schema: olap; Owner: admin
--

SELECT pg_catalog.setval('olap.fact_ventas_id_fact_venta_seq', 1, false);


--
-- Name: categoria_componente_id_categoria_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.categoria_componente_id_categoria_seq', 25, true);


--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.cliente_id_cliente_seq', 15, true);


--
-- Name: componente_id_componente_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.componente_id_componente_seq', 10, true);


--
-- Name: detalle_orden_compra_id_detalle_compra_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.detalle_orden_compra_id_detalle_compra_seq', 5, true);


--
-- Name: detalle_pedido_id_detalle_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.detalle_pedido_id_detalle_seq', 5, true);


--
-- Name: empleado_id_empleado_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.empleado_id_empleado_seq', 15, true);


--
-- Name: orden_compra_id_orden_compra_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.orden_compra_id_orden_compra_seq', 5, true);


--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.pedido_id_pedido_seq', 5, true);


--
-- Name: proveedor_id_proveedor_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.proveedor_id_proveedor_seq', 30, true);


--
-- Name: servicio_componente_id_servicio_componente_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.servicio_componente_id_servicio_componente_seq', 5, true);


--
-- Name: servicio_id_servicio_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.servicio_id_servicio_seq', 5, true);


--
-- Name: vehiculo_id_vehiculo_seq; Type: SEQUENCE SET; Schema: oltp_administracion; Owner: admin
--

SELECT pg_catalog.setval('oltp_administracion.vehiculo_id_vehiculo_seq', 10, true);


--
-- Name: categoria_componente_id_categoria_seq; Type: SEQUENCE SET; Schema: oltp_marketing; Owner: admin
--

SELECT pg_catalog.setval('oltp_marketing.categoria_componente_id_categoria_seq', 10, true);


--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE SET; Schema: oltp_marketing; Owner: admin
--

SELECT pg_catalog.setval('oltp_marketing.cliente_id_cliente_seq', 10, true);


--
-- Name: componente_id_componente_seq; Type: SEQUENCE SET; Schema: oltp_marketing; Owner: admin
--

SELECT pg_catalog.setval('oltp_marketing.componente_id_componente_seq', 10, true);


--
-- Name: detalle_pedido_id_detalle_seq; Type: SEQUENCE SET; Schema: oltp_marketing; Owner: admin
--

SELECT pg_catalog.setval('oltp_marketing.detalle_pedido_id_detalle_seq', 10, true);


--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE SET; Schema: oltp_marketing; Owner: admin
--

SELECT pg_catalog.setval('oltp_marketing.pedido_id_pedido_seq', 10, true);


--
-- Name: contrato_id_contrato_seq; Type: SEQUENCE SET; Schema: oltp_rrhh; Owner: admin
--

SELECT pg_catalog.setval('oltp_rrhh.contrato_id_contrato_seq', 10, true);


--
-- Name: departamento_id_departamento_seq; Type: SEQUENCE SET; Schema: oltp_rrhh; Owner: admin
--

SELECT pg_catalog.setval('oltp_rrhh.departamento_id_departamento_seq', 10, true);


--
-- Name: empleado_id_empleado_seq; Type: SEQUENCE SET; Schema: oltp_rrhh; Owner: admin
--

SELECT pg_catalog.setval('oltp_rrhh.empleado_id_empleado_seq', 10, true);


--
-- Name: nomina_id_nomina_seq; Type: SEQUENCE SET; Schema: oltp_rrhh; Owner: admin
--

SELECT pg_catalog.setval('oltp_rrhh.nomina_id_nomina_seq', 10, true);


--
-- Name: categoria_componente_id_categoria_seq; Type: SEQUENCE SET; Schema: oltp_tecnico; Owner: admin
--

SELECT pg_catalog.setval('oltp_tecnico.categoria_componente_id_categoria_seq', 10, true);


--
-- Name: cita_id_cita_seq; Type: SEQUENCE SET; Schema: oltp_tecnico; Owner: admin
--

SELECT pg_catalog.setval('oltp_tecnico.cita_id_cita_seq', 10, true);


--
-- Name: componente_id_componente_seq; Type: SEQUENCE SET; Schema: oltp_tecnico; Owner: admin
--

SELECT pg_catalog.setval('oltp_tecnico.componente_id_componente_seq', 10, true);


--
-- Name: empleado_id_empleado_seq; Type: SEQUENCE SET; Schema: oltp_tecnico; Owner: admin
--

SELECT pg_catalog.setval('oltp_tecnico.empleado_id_empleado_seq', 10, true);


--
-- Name: servicio_componente_id_servicio_componente_seq; Type: SEQUENCE SET; Schema: oltp_tecnico; Owner: admin
--

SELECT pg_catalog.setval('oltp_tecnico.servicio_componente_id_servicio_componente_seq', 10, true);


--
-- Name: servicio_id_servicio_seq; Type: SEQUENCE SET; Schema: oltp_tecnico; Owner: admin
--

SELECT pg_catalog.setval('oltp_tecnico.servicio_id_servicio_seq', 10, true);


--
-- Name: vehiculo_id_vehiculo_seq; Type: SEQUENCE SET; Schema: oltp_tecnico; Owner: admin
--

SELECT pg_catalog.setval('oltp_tecnico.vehiculo_id_vehiculo_seq', 10, true);


--
-- Name: categoria_componente_id_categoria_seq; Type: SEQUENCE SET; Schema: oltp_ventas; Owner: admin
--

SELECT pg_catalog.setval('oltp_ventas.categoria_componente_id_categoria_seq', 15, true);


--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE SET; Schema: oltp_ventas; Owner: admin
--

SELECT pg_catalog.setval('oltp_ventas.cliente_id_cliente_seq', 15, true);


--
-- Name: componente_id_componente_seq; Type: SEQUENCE SET; Schema: oltp_ventas; Owner: admin
--

SELECT pg_catalog.setval('oltp_ventas.componente_id_componente_seq', 15, true);


--
-- Name: detalle_pedido_id_detalle_seq; Type: SEQUENCE SET; Schema: oltp_ventas; Owner: admin
--

SELECT pg_catalog.setval('oltp_ventas.detalle_pedido_id_detalle_seq', 10, true);


--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE SET; Schema: oltp_ventas; Owner: admin
--

SELECT pg_catalog.setval('oltp_ventas.pedido_id_pedido_seq', 10, true);


--
-- Name: dim_categoria_componente dim_categoria_componente_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_categoria_componente
    ADD CONSTRAINT dim_categoria_componente_pkey PRIMARY KEY (id_categoria_dw);


--
-- Name: dim_cliente dim_cliente_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_cliente
    ADD CONSTRAINT dim_cliente_pkey PRIMARY KEY (id_cliente_dw);


--
-- Name: dim_componente dim_componente_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_componente
    ADD CONSTRAINT dim_componente_pkey PRIMARY KEY (id_componente_dw);


--
-- Name: dim_empleado dim_empleado_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_empleado
    ADD CONSTRAINT dim_empleado_pkey PRIMARY KEY (id_empleado_dw);


--
-- Name: dim_servicio dim_servicio_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_servicio
    ADD CONSTRAINT dim_servicio_pkey PRIMARY KEY (id_servicio_dw);


--
-- Name: dim_tiempo dim_tiempo_fecha_key; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_tiempo
    ADD CONSTRAINT dim_tiempo_fecha_key UNIQUE (fecha);


--
-- Name: dim_tiempo dim_tiempo_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_tiempo
    ADD CONSTRAINT dim_tiempo_pkey PRIMARY KEY (id_fecha);


--
-- Name: dim_vehiculo dim_vehiculo_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_vehiculo
    ADD CONSTRAINT dim_vehiculo_pkey PRIMARY KEY (id_vehiculo_dw);


--
-- Name: fact_servicios fact_servicios_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_servicios
    ADD CONSTRAINT fact_servicios_pkey PRIMARY KEY (id_fact_servicio);


--
-- Name: fact_ventas fact_ventas_pkey; Type: CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_ventas
    ADD CONSTRAINT fact_ventas_pkey PRIMARY KEY (id_fact_venta);


--
-- Name: categoria_componente categoria_componente_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.categoria_componente
    ADD CONSTRAINT categoria_componente_pkey PRIMARY KEY (id_categoria);


--
-- Name: cliente cliente_dni_key; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.cliente
    ADD CONSTRAINT cliente_dni_key UNIQUE (dni);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: componente componente_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.componente
    ADD CONSTRAINT componente_pkey PRIMARY KEY (id_componente);


--
-- Name: detalle_orden_compra detalle_orden_compra_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.detalle_orden_compra
    ADD CONSTRAINT detalle_orden_compra_pkey PRIMARY KEY (id_detalle_compra);


--
-- Name: detalle_pedido detalle_pedido_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.detalle_pedido
    ADD CONSTRAINT detalle_pedido_pkey PRIMARY KEY (id_detalle);


--
-- Name: empleado empleado_dni_key; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.empleado
    ADD CONSTRAINT empleado_dni_key UNIQUE (dni);


--
-- Name: empleado empleado_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.empleado
    ADD CONSTRAINT empleado_pkey PRIMARY KEY (id_empleado);


--
-- Name: orden_compra orden_compra_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.orden_compra
    ADD CONSTRAINT orden_compra_pkey PRIMARY KEY (id_orden_compra);


--
-- Name: pedido pedido_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.pedido
    ADD CONSTRAINT pedido_pkey PRIMARY KEY (id_pedido);


--
-- Name: proveedor proveedor_cif_key; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.proveedor
    ADD CONSTRAINT proveedor_cif_key UNIQUE (cif);


--
-- Name: proveedor proveedor_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.proveedor
    ADD CONSTRAINT proveedor_pkey PRIMARY KEY (id_proveedor);


--
-- Name: servicio_componente servicio_componente_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.servicio_componente
    ADD CONSTRAINT servicio_componente_pkey PRIMARY KEY (id_servicio_componente);


--
-- Name: servicio servicio_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.servicio
    ADD CONSTRAINT servicio_pkey PRIMARY KEY (id_servicio);


--
-- Name: detalle_orden_compra uq_admin_detalle_orden_compra; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.detalle_orden_compra
    ADD CONSTRAINT uq_admin_detalle_orden_compra UNIQUE (id_orden_compra, id_componente);


--
-- Name: detalle_pedido uq_admin_detalle_pedido; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.detalle_pedido
    ADD CONSTRAINT uq_admin_detalle_pedido UNIQUE (id_pedido, id_componente);


--
-- Name: servicio_componente uq_admin_servicio_componente; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.servicio_componente
    ADD CONSTRAINT uq_admin_servicio_componente UNIQUE (id_servicio, id_componente);


--
-- Name: vehiculo vehiculo_matricula_key; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.vehiculo
    ADD CONSTRAINT vehiculo_matricula_key UNIQUE (matricula);


--
-- Name: vehiculo vehiculo_num_bastidor_key; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.vehiculo
    ADD CONSTRAINT vehiculo_num_bastidor_key UNIQUE (num_bastidor);


--
-- Name: vehiculo vehiculo_pkey; Type: CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.vehiculo
    ADD CONSTRAINT vehiculo_pkey PRIMARY KEY (id_vehiculo);


--
-- Name: categoria_componente categoria_componente_pkey; Type: CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.categoria_componente
    ADD CONSTRAINT categoria_componente_pkey PRIMARY KEY (id_categoria);


--
-- Name: cliente cliente_dni_key; Type: CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.cliente
    ADD CONSTRAINT cliente_dni_key UNIQUE (dni);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: componente componente_pkey; Type: CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.componente
    ADD CONSTRAINT componente_pkey PRIMARY KEY (id_componente);


--
-- Name: detalle_pedido detalle_pedido_pkey; Type: CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.detalle_pedido
    ADD CONSTRAINT detalle_pedido_pkey PRIMARY KEY (id_detalle);


--
-- Name: pedido pedido_pkey; Type: CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.pedido
    ADD CONSTRAINT pedido_pkey PRIMARY KEY (id_pedido);


--
-- Name: detalle_pedido uq_marketing_detalle_pedido; Type: CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.detalle_pedido
    ADD CONSTRAINT uq_marketing_detalle_pedido UNIQUE (id_pedido, id_componente);


--
-- Name: contrato contrato_pkey; Type: CONSTRAINT; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE ONLY oltp_rrhh.contrato
    ADD CONSTRAINT contrato_pkey PRIMARY KEY (id_contrato);


--
-- Name: departamento departamento_pkey; Type: CONSTRAINT; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE ONLY oltp_rrhh.departamento
    ADD CONSTRAINT departamento_pkey PRIMARY KEY (id_departamento);


--
-- Name: empleado empleado_dni_key; Type: CONSTRAINT; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE ONLY oltp_rrhh.empleado
    ADD CONSTRAINT empleado_dni_key UNIQUE (dni);


--
-- Name: empleado empleado_pkey; Type: CONSTRAINT; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE ONLY oltp_rrhh.empleado
    ADD CONSTRAINT empleado_pkey PRIMARY KEY (id_empleado);


--
-- Name: nomina nomina_pkey; Type: CONSTRAINT; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE ONLY oltp_rrhh.nomina
    ADD CONSTRAINT nomina_pkey PRIMARY KEY (id_nomina);


--
-- Name: categoria_componente categoria_componente_pkey; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.categoria_componente
    ADD CONSTRAINT categoria_componente_pkey PRIMARY KEY (id_categoria);


--
-- Name: cita cita_pkey; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.cita
    ADD CONSTRAINT cita_pkey PRIMARY KEY (id_cita);


--
-- Name: componente componente_pkey; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.componente
    ADD CONSTRAINT componente_pkey PRIMARY KEY (id_componente);


--
-- Name: empleado empleado_pkey; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.empleado
    ADD CONSTRAINT empleado_pkey PRIMARY KEY (id_empleado);


--
-- Name: servicio_componente servicio_componente_pkey; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.servicio_componente
    ADD CONSTRAINT servicio_componente_pkey PRIMARY KEY (id_servicio_componente);


--
-- Name: servicio servicio_pkey; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.servicio
    ADD CONSTRAINT servicio_pkey PRIMARY KEY (id_servicio);


--
-- Name: servicio_componente uq_tecnico_servicio_componente; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.servicio_componente
    ADD CONSTRAINT uq_tecnico_servicio_componente UNIQUE (id_servicio, id_componente);


--
-- Name: vehiculo vehiculo_matricula_key; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.vehiculo
    ADD CONSTRAINT vehiculo_matricula_key UNIQUE (matricula);


--
-- Name: vehiculo vehiculo_num_bastidor_key; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.vehiculo
    ADD CONSTRAINT vehiculo_num_bastidor_key UNIQUE (num_bastidor);


--
-- Name: vehiculo vehiculo_pkey; Type: CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.vehiculo
    ADD CONSTRAINT vehiculo_pkey PRIMARY KEY (id_vehiculo);


--
-- Name: categoria_componente categoria_componente_pkey; Type: CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.categoria_componente
    ADD CONSTRAINT categoria_componente_pkey PRIMARY KEY (id_categoria);


--
-- Name: cliente cliente_dni_key; Type: CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.cliente
    ADD CONSTRAINT cliente_dni_key UNIQUE (dni);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: componente componente_pkey; Type: CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.componente
    ADD CONSTRAINT componente_pkey PRIMARY KEY (id_componente);


--
-- Name: detalle_pedido detalle_pedido_pkey; Type: CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.detalle_pedido
    ADD CONSTRAINT detalle_pedido_pkey PRIMARY KEY (id_detalle);


--
-- Name: pedido pedido_pkey; Type: CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.pedido
    ADD CONSTRAINT pedido_pkey PRIMARY KEY (id_pedido);


--
-- Name: detalle_pedido uq_ventas_detalle_pedido; Type: CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.detalle_pedido
    ADD CONSTRAINT uq_ventas_detalle_pedido UNIQUE (id_pedido, id_componente);


--
-- Name: idx_dim_categoria_componente_nombre; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_dim_categoria_componente_nombre ON olap.dim_categoria_componente USING btree (nombre_categoria);


--
-- Name: idx_dim_componente_categoria; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_dim_componente_categoria ON olap.dim_componente USING btree (id_categoria_dw);


--
-- Name: idx_dim_componente_nombre; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_dim_componente_nombre ON olap.dim_componente USING btree (nombre);


--
-- Name: idx_fact_servicios_cliente; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_fact_servicios_cliente ON olap.fact_servicios USING btree (id_cliente);


--
-- Name: idx_fact_servicios_empleado; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_fact_servicios_empleado ON olap.fact_servicios USING btree (id_empleado);


--
-- Name: idx_fact_servicios_fecha; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_fact_servicios_fecha ON olap.fact_servicios USING btree (id_fecha);


--
-- Name: idx_fact_servicios_servicio; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_fact_servicios_servicio ON olap.fact_servicios USING btree (id_servicio);


--
-- Name: idx_fact_servicios_vehiculo; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_fact_servicios_vehiculo ON olap.fact_servicios USING btree (id_vehiculo);


--
-- Name: idx_fact_ventas_cliente; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_fact_ventas_cliente ON olap.fact_ventas USING btree (id_cliente);


--
-- Name: idx_fact_ventas_componente; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_fact_ventas_componente ON olap.fact_ventas USING btree (id_componente);


--
-- Name: idx_fact_ventas_fecha; Type: INDEX; Schema: olap; Owner: admin
--

CREATE INDEX idx_fact_ventas_fecha ON olap.fact_ventas USING btree (id_fecha);


--
-- Name: uq_dim_categoria_componente_origen_oltp; Type: INDEX; Schema: olap; Owner: admin
--

CREATE UNIQUE INDEX uq_dim_categoria_componente_origen_oltp ON olap.dim_categoria_componente USING btree (origen_sistema, id_categoria_oltp);


--
-- Name: idx_admin_componente_categoria; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_componente_categoria ON oltp_administracion.componente USING btree (id_categoria);


--
-- Name: idx_admin_componente_proveedor; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_componente_proveedor ON oltp_administracion.componente USING btree (id_proveedor);


--
-- Name: idx_admin_detalle_orden_compra_componente; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_detalle_orden_compra_componente ON oltp_administracion.detalle_orden_compra USING btree (id_componente);


--
-- Name: idx_admin_detalle_orden_compra_orden; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_detalle_orden_compra_orden ON oltp_administracion.detalle_orden_compra USING btree (id_orden_compra);


--
-- Name: idx_admin_detalle_pedido_componente; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_detalle_pedido_componente ON oltp_administracion.detalle_pedido USING btree (id_componente);


--
-- Name: idx_admin_detalle_pedido_pedido; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_detalle_pedido_pedido ON oltp_administracion.detalle_pedido USING btree (id_pedido);


--
-- Name: idx_admin_orden_compra_proveedor; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_orden_compra_proveedor ON oltp_administracion.orden_compra USING btree (id_proveedor);


--
-- Name: idx_admin_pedido_cliente; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_pedido_cliente ON oltp_administracion.pedido USING btree (id_cliente);


--
-- Name: idx_admin_servicio_cliente; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_servicio_cliente ON oltp_administracion.servicio USING btree (id_cliente);


--
-- Name: idx_admin_servicio_componente_componente; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_servicio_componente_componente ON oltp_administracion.servicio_componente USING btree (id_componente);


--
-- Name: idx_admin_servicio_componente_servicio; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_servicio_componente_servicio ON oltp_administracion.servicio_componente USING btree (id_servicio);


--
-- Name: idx_admin_servicio_empleado; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_servicio_empleado ON oltp_administracion.servicio USING btree (id_empleado);


--
-- Name: idx_admin_servicio_vehiculo; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_servicio_vehiculo ON oltp_administracion.servicio USING btree (id_vehiculo);


--
-- Name: idx_admin_vehiculo_cliente; Type: INDEX; Schema: oltp_administracion; Owner: admin
--

CREATE INDEX idx_admin_vehiculo_cliente ON oltp_administracion.vehiculo USING btree (id_cliente);


--
-- Name: idx_marketing_componente_categoria; Type: INDEX; Schema: oltp_marketing; Owner: admin
--

CREATE INDEX idx_marketing_componente_categoria ON oltp_marketing.componente USING btree (id_categoria);


--
-- Name: idx_marketing_detalle_pedido_componente; Type: INDEX; Schema: oltp_marketing; Owner: admin
--

CREATE INDEX idx_marketing_detalle_pedido_componente ON oltp_marketing.detalle_pedido USING btree (id_componente);


--
-- Name: idx_marketing_detalle_pedido_pedido; Type: INDEX; Schema: oltp_marketing; Owner: admin
--

CREATE INDEX idx_marketing_detalle_pedido_pedido ON oltp_marketing.detalle_pedido USING btree (id_pedido);


--
-- Name: idx_marketing_pedido_cliente; Type: INDEX; Schema: oltp_marketing; Owner: admin
--

CREATE INDEX idx_marketing_pedido_cliente ON oltp_marketing.pedido USING btree (id_cliente);


--
-- Name: idx_rrhh_contrato_empleado; Type: INDEX; Schema: oltp_rrhh; Owner: admin
--

CREATE INDEX idx_rrhh_contrato_empleado ON oltp_rrhh.contrato USING btree (id_empleado);


--
-- Name: idx_rrhh_empleado_departamento; Type: INDEX; Schema: oltp_rrhh; Owner: admin
--

CREATE INDEX idx_rrhh_empleado_departamento ON oltp_rrhh.empleado USING btree (id_departamento);


--
-- Name: idx_rrhh_nomina_empleado; Type: INDEX; Schema: oltp_rrhh; Owner: admin
--

CREATE INDEX idx_rrhh_nomina_empleado ON oltp_rrhh.nomina USING btree (id_empleado);


--
-- Name: idx_tecnico_cita_vehiculo; Type: INDEX; Schema: oltp_tecnico; Owner: admin
--

CREATE INDEX idx_tecnico_cita_vehiculo ON oltp_tecnico.cita USING btree (id_vehiculo);


--
-- Name: idx_tecnico_componente_categoria; Type: INDEX; Schema: oltp_tecnico; Owner: admin
--

CREATE INDEX idx_tecnico_componente_categoria ON oltp_tecnico.componente USING btree (id_categoria);


--
-- Name: idx_tecnico_servicio_componente_componente; Type: INDEX; Schema: oltp_tecnico; Owner: admin
--

CREATE INDEX idx_tecnico_servicio_componente_componente ON oltp_tecnico.servicio_componente USING btree (id_componente);


--
-- Name: idx_tecnico_servicio_componente_servicio; Type: INDEX; Schema: oltp_tecnico; Owner: admin
--

CREATE INDEX idx_tecnico_servicio_componente_servicio ON oltp_tecnico.servicio_componente USING btree (id_servicio);


--
-- Name: idx_tecnico_servicio_empleado; Type: INDEX; Schema: oltp_tecnico; Owner: admin
--

CREATE INDEX idx_tecnico_servicio_empleado ON oltp_tecnico.servicio USING btree (id_empleado);


--
-- Name: idx_tecnico_servicio_vehiculo; Type: INDEX; Schema: oltp_tecnico; Owner: admin
--

CREATE INDEX idx_tecnico_servicio_vehiculo ON oltp_tecnico.servicio USING btree (id_vehiculo);


--
-- Name: idx_ventas_componente_categoria; Type: INDEX; Schema: oltp_ventas; Owner: admin
--

CREATE INDEX idx_ventas_componente_categoria ON oltp_ventas.componente USING btree (id_categoria);


--
-- Name: idx_ventas_detalle_pedido_componente; Type: INDEX; Schema: oltp_ventas; Owner: admin
--

CREATE INDEX idx_ventas_detalle_pedido_componente ON oltp_ventas.detalle_pedido USING btree (id_componente);


--
-- Name: idx_ventas_detalle_pedido_pedido; Type: INDEX; Schema: oltp_ventas; Owner: admin
--

CREATE INDEX idx_ventas_detalle_pedido_pedido ON oltp_ventas.detalle_pedido USING btree (id_pedido);


--
-- Name: idx_ventas_pedido_cliente; Type: INDEX; Schema: oltp_ventas; Owner: admin
--

CREATE INDEX idx_ventas_pedido_cliente ON oltp_ventas.pedido USING btree (id_cliente);


--
-- Name: dim_componente fk_dim_componente_categoria; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.dim_componente
    ADD CONSTRAINT fk_dim_componente_categoria FOREIGN KEY (id_categoria_dw) REFERENCES olap.dim_categoria_componente(id_categoria_dw) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: fact_servicios fk_fact_servicios_cliente; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_servicios
    ADD CONSTRAINT fk_fact_servicios_cliente FOREIGN KEY (id_cliente) REFERENCES olap.dim_cliente(id_cliente_dw) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fact_servicios fk_fact_servicios_empleado; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_servicios
    ADD CONSTRAINT fk_fact_servicios_empleado FOREIGN KEY (id_empleado) REFERENCES olap.dim_empleado(id_empleado_dw) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fact_servicios fk_fact_servicios_servicio; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_servicios
    ADD CONSTRAINT fk_fact_servicios_servicio FOREIGN KEY (id_servicio) REFERENCES olap.dim_servicio(id_servicio_dw) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fact_servicios fk_fact_servicios_tiempo; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_servicios
    ADD CONSTRAINT fk_fact_servicios_tiempo FOREIGN KEY (id_fecha) REFERENCES olap.dim_tiempo(id_fecha) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fact_servicios fk_fact_servicios_vehiculo; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_servicios
    ADD CONSTRAINT fk_fact_servicios_vehiculo FOREIGN KEY (id_vehiculo) REFERENCES olap.dim_vehiculo(id_vehiculo_dw) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fact_ventas fk_fact_ventas_cliente; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_ventas
    ADD CONSTRAINT fk_fact_ventas_cliente FOREIGN KEY (id_cliente) REFERENCES olap.dim_cliente(id_cliente_dw) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fact_ventas fk_fact_ventas_componente; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_ventas
    ADD CONSTRAINT fk_fact_ventas_componente FOREIGN KEY (id_componente) REFERENCES olap.dim_componente(id_componente_dw) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fact_ventas fk_fact_ventas_tiempo; Type: FK CONSTRAINT; Schema: olap; Owner: admin
--

ALTER TABLE ONLY olap.fact_ventas
    ADD CONSTRAINT fk_fact_ventas_tiempo FOREIGN KEY (id_fecha) REFERENCES olap.dim_tiempo(id_fecha) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: componente fk_admin_componente_categoria; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.componente
    ADD CONSTRAINT fk_admin_componente_categoria FOREIGN KEY (id_categoria) REFERENCES oltp_administracion.categoria_componente(id_categoria) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: componente fk_admin_componente_proveedor; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.componente
    ADD CONSTRAINT fk_admin_componente_proveedor FOREIGN KEY (id_proveedor) REFERENCES oltp_administracion.proveedor(id_proveedor) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_orden_compra fk_admin_detalle_orden_compra_componente; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.detalle_orden_compra
    ADD CONSTRAINT fk_admin_detalle_orden_compra_componente FOREIGN KEY (id_componente) REFERENCES oltp_administracion.componente(id_componente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_orden_compra fk_admin_detalle_orden_compra_orden; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.detalle_orden_compra
    ADD CONSTRAINT fk_admin_detalle_orden_compra_orden FOREIGN KEY (id_orden_compra) REFERENCES oltp_administracion.orden_compra(id_orden_compra) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: detalle_pedido fk_admin_detalle_pedido_componente; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.detalle_pedido
    ADD CONSTRAINT fk_admin_detalle_pedido_componente FOREIGN KEY (id_componente) REFERENCES oltp_administracion.componente(id_componente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_pedido fk_admin_detalle_pedido_pedido; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.detalle_pedido
    ADD CONSTRAINT fk_admin_detalle_pedido_pedido FOREIGN KEY (id_pedido) REFERENCES oltp_administracion.pedido(id_pedido) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orden_compra fk_admin_orden_compra_proveedor; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.orden_compra
    ADD CONSTRAINT fk_admin_orden_compra_proveedor FOREIGN KEY (id_proveedor) REFERENCES oltp_administracion.proveedor(id_proveedor) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pedido fk_admin_pedido_cliente; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.pedido
    ADD CONSTRAINT fk_admin_pedido_cliente FOREIGN KEY (id_cliente) REFERENCES oltp_administracion.cliente(id_cliente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: servicio fk_admin_servicio_cliente; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.servicio
    ADD CONSTRAINT fk_admin_servicio_cliente FOREIGN KEY (id_cliente) REFERENCES oltp_administracion.cliente(id_cliente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: servicio_componente fk_admin_servicio_componente_componente; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.servicio_componente
    ADD CONSTRAINT fk_admin_servicio_componente_componente FOREIGN KEY (id_componente) REFERENCES oltp_administracion.componente(id_componente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: servicio_componente fk_admin_servicio_componente_servicio; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.servicio_componente
    ADD CONSTRAINT fk_admin_servicio_componente_servicio FOREIGN KEY (id_servicio) REFERENCES oltp_administracion.servicio(id_servicio) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: servicio fk_admin_servicio_empleado; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.servicio
    ADD CONSTRAINT fk_admin_servicio_empleado FOREIGN KEY (id_empleado) REFERENCES oltp_administracion.empleado(id_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: servicio fk_admin_servicio_vehiculo; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.servicio
    ADD CONSTRAINT fk_admin_servicio_vehiculo FOREIGN KEY (id_vehiculo) REFERENCES oltp_administracion.vehiculo(id_vehiculo) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: vehiculo fk_admin_vehiculo_cliente; Type: FK CONSTRAINT; Schema: oltp_administracion; Owner: admin
--

ALTER TABLE ONLY oltp_administracion.vehiculo
    ADD CONSTRAINT fk_admin_vehiculo_cliente FOREIGN KEY (id_cliente) REFERENCES oltp_administracion.cliente(id_cliente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: componente fk_marketing_componente_categoria; Type: FK CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.componente
    ADD CONSTRAINT fk_marketing_componente_categoria FOREIGN KEY (id_categoria) REFERENCES oltp_marketing.categoria_componente(id_categoria) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: detalle_pedido fk_marketing_detalle_pedido_componente; Type: FK CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.detalle_pedido
    ADD CONSTRAINT fk_marketing_detalle_pedido_componente FOREIGN KEY (id_componente) REFERENCES oltp_marketing.componente(id_componente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_pedido fk_marketing_detalle_pedido_pedido; Type: FK CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.detalle_pedido
    ADD CONSTRAINT fk_marketing_detalle_pedido_pedido FOREIGN KEY (id_pedido) REFERENCES oltp_marketing.pedido(id_pedido) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pedido fk_marketing_pedido_cliente; Type: FK CONSTRAINT; Schema: oltp_marketing; Owner: admin
--

ALTER TABLE ONLY oltp_marketing.pedido
    ADD CONSTRAINT fk_marketing_pedido_cliente FOREIGN KEY (id_cliente) REFERENCES oltp_marketing.cliente(id_cliente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: contrato fk_rrhh_contrato_empleado; Type: FK CONSTRAINT; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE ONLY oltp_rrhh.contrato
    ADD CONSTRAINT fk_rrhh_contrato_empleado FOREIGN KEY (id_empleado) REFERENCES oltp_rrhh.empleado(id_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: empleado fk_rrhh_empleado_departamento; Type: FK CONSTRAINT; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE ONLY oltp_rrhh.empleado
    ADD CONSTRAINT fk_rrhh_empleado_departamento FOREIGN KEY (id_departamento) REFERENCES oltp_rrhh.departamento(id_departamento) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: nomina fk_rrhh_nomina_empleado; Type: FK CONSTRAINT; Schema: oltp_rrhh; Owner: admin
--

ALTER TABLE ONLY oltp_rrhh.nomina
    ADD CONSTRAINT fk_rrhh_nomina_empleado FOREIGN KEY (id_empleado) REFERENCES oltp_rrhh.empleado(id_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: cita fk_tecnico_cita_vehiculo; Type: FK CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.cita
    ADD CONSTRAINT fk_tecnico_cita_vehiculo FOREIGN KEY (id_vehiculo) REFERENCES oltp_tecnico.vehiculo(id_vehiculo) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: componente fk_tecnico_componente_categoria; Type: FK CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.componente
    ADD CONSTRAINT fk_tecnico_componente_categoria FOREIGN KEY (id_categoria) REFERENCES oltp_tecnico.categoria_componente(id_categoria) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: servicio_componente fk_tecnico_servicio_componente_componente; Type: FK CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.servicio_componente
    ADD CONSTRAINT fk_tecnico_servicio_componente_componente FOREIGN KEY (id_componente) REFERENCES oltp_tecnico.componente(id_componente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: servicio_componente fk_tecnico_servicio_componente_servicio; Type: FK CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.servicio_componente
    ADD CONSTRAINT fk_tecnico_servicio_componente_servicio FOREIGN KEY (id_servicio) REFERENCES oltp_tecnico.servicio(id_servicio) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: servicio fk_tecnico_servicio_empleado; Type: FK CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.servicio
    ADD CONSTRAINT fk_tecnico_servicio_empleado FOREIGN KEY (id_empleado) REFERENCES oltp_tecnico.empleado(id_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: servicio fk_tecnico_servicio_vehiculo; Type: FK CONSTRAINT; Schema: oltp_tecnico; Owner: admin
--

ALTER TABLE ONLY oltp_tecnico.servicio
    ADD CONSTRAINT fk_tecnico_servicio_vehiculo FOREIGN KEY (id_vehiculo) REFERENCES oltp_tecnico.vehiculo(id_vehiculo) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: componente fk_ventas_componente_categoria; Type: FK CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.componente
    ADD CONSTRAINT fk_ventas_componente_categoria FOREIGN KEY (id_categoria) REFERENCES oltp_ventas.categoria_componente(id_categoria) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: detalle_pedido fk_ventas_detalle_pedido_componente; Type: FK CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.detalle_pedido
    ADD CONSTRAINT fk_ventas_detalle_pedido_componente FOREIGN KEY (id_componente) REFERENCES oltp_ventas.componente(id_componente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_pedido fk_ventas_detalle_pedido_pedido; Type: FK CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.detalle_pedido
    ADD CONSTRAINT fk_ventas_detalle_pedido_pedido FOREIGN KEY (id_pedido) REFERENCES oltp_ventas.pedido(id_pedido) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pedido fk_ventas_pedido_cliente; Type: FK CONSTRAINT; Schema: oltp_ventas; Owner: admin
--

ALTER TABLE ONLY oltp_ventas.pedido
    ADD CONSTRAINT fk_ventas_pedido_cliente FOREIGN KEY (id_cliente) REFERENCES oltp_ventas.cliente(id_cliente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 98NgI7l8LTXUxF7PU4YH2Fse75ZVr6MZTAjAYXeVlyNxm3dJBFpEC1bIJt938R0

